.main-title {
    font-size: 36px;
    background-color: darkred;
    color: white;
    text-align: center;
    font-family: cursive, 'Times New Roman', Times, serif;
}

.recipe {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: white;
}

.recipe.pot-roast {
    background-color: red;
}

.recipe.tacos {
    background-color: green;
}

.recipe.brownies {
    background-color: orange;
}

.title-brownies {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: orange;

}

.title-tacos {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: red;
}

.title-pot-roast {
    font-size: 36px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    background-color: green;
}